@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*{
    font-family: 'Cabin', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navrow{
    width: 100%;
    height: 40px;
    background-color: #4CA2AC;
}
.head1{
    text-align: center;
    color: white;
    margin-top: 12px;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 500;
}
.navname{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    margin: 10px 0px 0px 30px;
}
.navlinks{
    color: white !important;
    font-size: 11px !important;
    font-weight: 800 !important;
    letter-spacing: 4px;
    margin: 15px 20px 0px 10px !important;
}
.navlinks:hover{
    color: red;
}
.brandlogo{
    padding-top: 10px;  
    width: 100px;
    height: 40px;
    margin-top: 10px;
}
.brandname{
    margin-top: 200px;
    margin-left: 78px;
}
.img1{
    width: 20%;
    height: 16px;
    display: inline;
}
.btn1{
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 4px;
    color: white;
    background-color: transparent;
    margin: 15px 100px 0px 0px;
}

.section1{
    background: rgba(0,0,0,0.4) url("images/bg\ 1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    width: 100%;
    height: 650px;
}
.head2{
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 14px;
    line-height: 70px;
    color: white;
    margin: 100px 0px 0px 50px;
}
.para1{
    font-size: 17px;
    font-weight: 500;
    color: white;
    margin: 30px 0px 0px 50px;
    line-height: 30px;
}
.btn2{
    width: 25%;
    height: 50px;
    border: none;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 5px;
    margin: 350px 0px 0px 400px;
}
.btn2:hover{
    background-color: #F1674B;
    color: white;
    transition: 0.3s;
}
.head3{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    color: #555555;
    margin-top: 100px;
}
.title_lines {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #3267EA;
    font-family: arial;
}
.title_lines:before, .title_lines:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 20%;
    height: 1px;
    content: '\a0';
    background-color: #cccccc;
    margin-left: 2%;
    margin-top: 45px;
}
.title_lines:before {
    margin-left: -36%;
    text-align: right;
}
.title_lines:after {
    margin-left: 15%;
    text-align: right;
}
.head4{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
.para2{
    text-align: center;
    font-size: 17px;
    line-height: 32px;
}
.imgs2:hover, .imgs3:hover{
    scale: 101%;
}
.imgs2{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
}
.imgs3{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
}
.head5{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
.para3{
    font-size: 15px;
    font-weight: 500;
    color: grey;
}
.spant1{
    color: red;
    text-decoration: line-through;
    margin-left: 10px;
}
.spant{
    color: red;
    margin-left: 10px;
}
.btn3{
    background-color: black;
    color: white;
    width: 64px;
    height: 64px;
    border: none;
    position: absolute;
    margin-top: 70px;
    margin-left: -100px;
    border-radius: 50%;
}
.btn3:hover{
    background-color: #F1674B;
    color: white;
}
.section2{
   background-image: url(images/bg2.jpeg);
   width: 100%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 100px;
   background-position-y: -50px;
   filter: brightness(0.9);
}
.head6{
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 10px;
}
.head7{
    color: white;
    font-size: 48px;
    font-weight: 500;
    margin-top: 10px;
}
.para4{
    color: white;
    font-size: 17px;
    line-height: 32px;
    margin-top: 10px;
    
}
.btn4{
    width: 25%;
    height: 50px;
    border: none;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 20px;
}
.rows1{
    margin-top: 100px;
    margin-left: 30px;
}
.btn4:hover{
    background-color: #F1674B;
    color: white;
    transition: 0.3s;
}
.btn5:hover{
    background-color: #F1674B;
    color: white;
    transition: 0.3s;
}
.btn6:hover{
    background-color: #F1674B;
    color: white;
    transition: 0.3s;
}
.title_lines1 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #3267EA;
    font-family: arial;
}
.title_lines1:before, .title_lines1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 20%;
    height: 1px;
    content: '\a0';
    background-color: #cccccc;
    margin-left: 2%;
    margin-top: 45px;
}
.title_lines1:before {
    margin-left: -36%;
    text-align: right;
}
.title_lines1:after {
    margin-left: 15%;
    text-align: right;
}
.card{
    margin-top: 50px;
}
.imgs4{
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
.imgs4 {
    transition: transform 0.3s ease;
  }
  
 .imgs4:hover{
    transform: scale(1.01); /* Adjust the scale factor as desired */
  }
.head8{
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 20px;
}
.para5{
    color: grey;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}
.title_lines2 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #3267EA;
    font-family: arial;
}
.title_lines2:before, .title_lines2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 10%;
    height: 1px;
    content: '\a0';
    background-color: #cccccc;
    margin-left: 2%;
    margin-top: 45px;
}
.title_lines2:before {
    margin-left: -22%;
    text-align: right;
}
.title_lines2:after {
    margin-left: 11%;
    text-align: right;
}
.imgs5{
    width: 100%;
    height: 500px;
    object-fit: contain;
}
.section3{
    background-image: url(images/bg\ 4.jpeg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    background-position: center;
    filter: brightness(0.9);
}
.inpt1{
    height: 48px;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border: 1px solid grey;
}
::placeholder{
    font-size: 12px;
    padding-left: 20px;
    letter-spacing: 3px;
}
.btn5{
    width: 30%;
    height: 50px;
    border: none;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 3px;
    display: inline;
    margin-left: -5px;
    font-size: 12px;
}
.imgs6{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.cards{
    margin-top: 50px;
}
.para6{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 16px;
}
.spant2{
    font-size: 12px;
    font-weight: 500;
    color: grey;
    display: inline;
    text-align: right;
    float: inline-end;
}
.head9{
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
}
.section4{
    background-color: black;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.head10{
    font-size: 30px;
    color: white;
    margin-top: 40px;
    cursor: pointer;
}
.lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.lists1{
    list-style-type: none;
}
.anchor{
    text-decoration: none;
    color: white;
}
.para7{
    color: grey;
    margin-top: 50px;
}
.imgs7{
    margin-left: 10px;
}
.head11 ,.head12{
    color: white;
    margin-top: 40px;
}
.para8{
    color: white;
    margin-right: 30px;
}
.rows2{
    text-align: right;
}
.inpt2{
    height: 48px;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border: 1px solid grey;
}
.btn6{
    width: 30%;
    height: 50px;
    border: none;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 3px;
    display: inline;
    margin-left: -5px;
    font-size: 12px;
}
.para9{
    color: white;
    font-size: 12px;
    text-align: right;
    margin-top: 20px;
}
.anchor:hover{
    color: grey;
}
@media screen and (min-width: 0px) and (max-width: 400px){
    .section1 {
        background-image: url("images/bg\ 1.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 600px;
    }
    .head2{
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 5px;
        line-height: 40px;
        color: white;
        margin: 100px 0px 0px 10px;
    }
    .para1{
        font-size: 16px;
        font-weight: 500;
        color: white;
        margin: 10% 0px 0px 10px;
        line-height: 30px;
    }
    .btn2{
        width: 45%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 5px;
        margin: 30px 0px 0px 10px;
    }
    .head3{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        color: #555555;
        margin-top: 100px;
    }
    .title_lines {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines:before, .title_lines:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 17%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines:before {
        margin-left: -45%;
        text-align: right;
    }
    .title_lines:after {
        margin-left: 28%;
        text-align: right;
    }
    .head4{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .para2{
        text-align: center;
        font-size: 17px;
        line-height: 32px;
    }
    .imgs2{
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .imgs3{
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .head5{
        font-size: 15px;
        font-weight: 500;
    }
    .para3{
        font-size: 15px;
        font-weight: 500;
        color: grey;
    }
    .spant1{
        color: red;
        text-decoration: line-through;
        margin-left: 10px;
    }
    .btn3{
        background-color: black;
        color: white;
        width: 50px;
        height: 50px;
        border: none;
        position: absolute;
        margin-top: 70px;
        margin-left: -70px;
        border-radius: 50%;
    }
    .section2{
        background-image: url(images/bg2.jpeg);
        width: 100%;
        height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 100px;
        background-position: center;
        filter: brightness(0.9);
     }
    .btn4{
        width: 40%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 20px;
    }
    .title_lines1 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines1:before, .title_lines1:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 17%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines1:before {
        margin-left: -46%;
        text-align: right;
    }
    .title_lines1:after {
        margin-left: 29%;
        text-align: right;
    }
    .title_lines2 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines2:before, .title_lines2:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines2:before {
        margin-left: -26%;
        text-align: right;
    }
    .title_lines2:after {
        margin-left: 14%;
        text-align: right;
    }
    .imgs5{
        width: 100%;
        height: 500px;
        object-fit: contain;
        margin-top: -100px;
    }
    .section3{
        background-image: url(images/bg\ 4.jpeg);
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(0.9);
        background-position: center;
        margin-top: -30px;
    }
    .inpt1{
        height: 48px;
        width: 90%;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        border: 1px solid grey;
    }
    ::placeholder{
        font-size: 12px;
        padding-left: 20px;
        letter-spacing: 3px;
    }
    .btn5{
        width: 90%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius: 3px;
        display: block;
        font-size: 12px;
        margin: 10px 0px 0px 2px;
    }
    .section4{
        background-color: black;
        width: 100%;
        height: 920px;
        margin-top: 50px;
    }
    .lists{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        margin: 20px 0px 0px -70px;
        flex-wrap: wrap;
        line-height: 24px;

    }
    .lists1{
        list-style-type: none;
        margin: 8px 0px 8px 32px;
    }
    .anchor{
        text-decoration: none;
        color: white;
    }
    .para7{
        color: grey;
        margin-top: 50px;
        font-size: 13px;
    }
    .head11 ,.head12{
        color: white;
        margin-top: 40px;
    }
    .head12{
        text-align: start;
    }
    .para8{
        color: white;
        margin-right: 30px;
    }
    .inpt2{
        height: 48px;
        width: 95%;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        border: 1px solid grey;
        margin-left: -10px;
    }
    .btn6{
        width: 95%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius: 3px;
        display: block;
        margin: 10px 0px 0px 15px;
        font-size: 12px;
    }
    .para9{
        color: white;
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }
}
@media screen and (min-width: 400px) and (max-width: 600px){
    .section1 {
        background-image: url("images/bg\ 1.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 550px;
    }
    .head2{
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 5px;
        line-height: 40px;
        color: white;
        margin: 100px 0px 0px 10px;
    }
    .para1{
        font-size: 17px;
        font-weight: 500;
        color: white;
        margin: 30px 0px 0px 10px;
        line-height: 30px;
    }
    .btn2{
        width: 30%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 5px;
        margin: 30px 0px 0px 10px;
    }
    .head3{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        color: #555555;
        margin-top: 100px;
    }
    .title_lines {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines:before, .title_lines:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 17%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines:before {
        margin-left: -38%;
        text-align: right;
    }
    .title_lines:after {
        margin-left: 20%;
        text-align: right;
    }
    .head4{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .para2{
        text-align: center;
        font-size: 17px;
        line-height: 32px;
    }
    .imgs2{
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .imgs3{
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .head5{
        font-size: 15px;
        font-weight: 500;
    }
    .para3{
        font-size: 15px;
        font-weight: 500;
        color: grey;
    }
    .spant1{
        color: red;
        text-decoration: line-through;
        margin-left: 10px;
    }
    .btn3{
        background-color: black;
        color: white;
        width: 50px;
        height: 50px;
        border: none;
        position: absolute;
        margin-top: 70px;
        margin-left: -70px;
        border-radius: 50%;
    }
    .section2{
        background-image: url(images/bg2.jpeg);
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 100px;
        background-position: center;
        filter: brightness(0.9);
     }
    .btn4{
        width: 30%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 20px;
    }
    .title_lines1 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines1:before, .title_lines1:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 17%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines1:before {
        margin-left: -38%;
        text-align: right;
    }
    .title_lines1:after {
        margin-left: 20%;
        text-align: right;
    }
    .imgs5{
        width: 100%;
        height: 500px;
        object-fit: contain;
        margin-top: -100px;
    }
    .section3{
        background-image: url(images/bg\ 4.jpeg);
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 100px;
        background-position-y: -50px;
        filter: brightness(0.9);
        background-position: center;
    }
    .inpt1{
        height: 48px;
        width: 90%;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        border: 1px solid grey;
    }
    ::placeholder{
        font-size: 12px;
        padding-left: 20px;
        letter-spacing: 3px;
    }
    .btn5{
        width: 90%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius: 3px;
        display: block;
        font-size: 12px;
        margin: 10px 0px 0px 2px;
    }
    .head10{
        text-align: center;
    }
    .lists{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        margin: 20px 0px 0px -70px;
        flex-wrap: wrap;
        line-height: 24px;
    }
    .lists1{
        list-style-type: none;
        margin: 8px 0px 8px 32px;
    }
    .anchor{
        text-decoration: none;
        color: white;
    }
    .para7{
        color: grey;
        margin-top: 50px;
        font-size: 13px;
        text-align: center;
    }
    .section4{
        background-color: black;
        width: 100%;
        height: 1000px;
        margin-top: 50px;
    }
    .head11 ,.head12{
        color: white;
        margin-top: 40px;
    }
    .head12{
        text-align: start;
    }
    .para8{
        color: white;
        margin-right: 30px;
    }
    /* .rows4{
        margin-left: -40px;
    } */
    .inpt2{
        height: 48px;
        width: 100%;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        border: 1px solid grey;
    }
    .btn6{
        width: 100%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius: 3px;
        display: block;
        font-size: 12px;
        margin-left: -0px;
        margin-top: 10px;
    }
    .para9{
        color: white;
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }
}
@media screen and (min-width: 600px) and (max-width: 767px){
    .section1 {
        background-image: url("images/bg\ 1.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 550px;
    }
    .head2{
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 6px;
        line-height: 60px;
        color: white;
        margin: 100px 0px 0px 10px;
    }
    .para1{
        font-size: 17px;
        font-weight: 500;
        color: white;
        margin: 30px 0px 0px 10px;
        line-height: 30px;
    }
    .btn2{
        width: 25%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 5px;
        margin: 20px 0px 0px 10px;
    }
    .head3{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        color: #555555;
        margin-top: 100px;
    }
    .title_lines {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines:before, .title_lines:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines:before {
        margin-left: -25%;
        text-align: right;
    }
    .title_lines:after {
        margin-left: 15%;
        text-align: right;
    }
    .head4{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .para2{
        text-align: center;
        font-size: 17px;
        line-height: 32px;
    }
    .imgs2{
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .imgs3{
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .head5{
        font-size: 15px;
        font-weight: 500;
    }
    .para3{
        font-size: 15px;
        font-weight: 500;
        color: grey;
    }
    .spant1{
        color: red;
        text-decoration: line-through;
        margin-left: 10px;
    }
    .btn3{
        background-color: black;
        color: white;
        width: 64px;
        height: 64px;
        border: none;
        position: absolute;
        margin-top: 70px;
        margin-left: -100px;
        border-radius: 50%;
    }
    .title_lines1 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines1:before, .title_lines1:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines1:before {
        margin-left: -27%;
        text-align: right;
    }
    .title_lines1:after {
        margin-left: 17%;
        text-align: right;
    }
    .imgs4{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .title_lines2 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines2:before, .title_lines2:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines2:before {
        margin-left: -22%;
        text-align: right;
    }
    .title_lines2:after {
        margin-left: 12%;
        text-align: right;
    }
    .section3{
        background-image: url(images/bg\ 4.jpeg);
        width: 100%;
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 100px;
        background-position: center;
        filter: brightness(0.9);
    }
    .inpt1{
        height: 48px;
        width: 50%;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        border: 1px solid grey;
    }
    ::placeholder{
        font-size: 12px;
        padding-left: 20px;
        letter-spacing: 3px;
    }
    .btn5{
        width: 30%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius: 3px;
        display: inline;
        margin-left: -5px;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .head10{
        margin-left: 5px;
    }
    .lists{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        margin: 10px 0px 0px -70px;
        flex-wrap: wrap;
        line-height: 24px;
    }
    .lists1{
        list-style-type: none;
        margin: 8px 0px 8px 32px;
    }
    .anchor{
        text-decoration: none;
        color: white;
    }
    .para7{
        color: grey;
        margin: 10px 0px 0px 5px;
        font-size: 13px;
    }
    .section4{
        background-color: black;
        width: 100%;
        height: 700px;
        margin-top: 50px;
    }
    .head11 ,.head12{
        color: white;
        margin-top: 40px;
    }
    .para8{
        color: white;
    }
    .rows2{
        text-align: left;
    }
    .inpt2{
        height: 48px;
        width: 50%;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        border: 1px solid grey;
    }
    .btn6{
        width: 30%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius: 3px;
        display: inline;
        margin-left: -5px;
        font-size: 12px;
    }
    .para9{
        color: white;
        font-size: 12px;
        margin-top: 20px;
        text-align: left;
    }
    
    
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .section1 {
        background-image: url("images/bg\ 1.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 550px;
    }
    .head2{
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 5px;
        line-height: 40px;
        color: white;
        margin: 100px 0px 0px 10px;
    }
    .para1{
        font-size: 17px;
        font-weight: 500;
        color: white;
        margin: 30px 0px 0px 10px;
        line-height: 30px;
    }
    .btn2{
        width: 60%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 5px;
        margin: 230px 0px 0px 50px;
    }
    .head3{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        color: #555555;
        margin-top: 100px;
    }
    .title_lines {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines:before, .title_lines:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines:before {
        margin-left: -22%;
        text-align: right;
    }
    .title_lines:after {
        margin-left: 11%;
        text-align: right;
    }
    .head4{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .para2{
        text-align: center;
        font-size: 17px;
        line-height: 32px;
    }
    .imgs2{
        width: 100%;
        height: 280px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .imgs3{
        width: 100%;
        height: 280px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .head5{
        font-size: 15px;
        font-weight: 500;
    }
    .para3{
        font-size: 15px;
        font-weight: 500;
        color: grey;
    }
    .spant1{
        color: red;
        text-decoration: line-through;
        margin-left: 10px;
    }
    .btn3{
        background-color: black;
        color: white;
        width: 64px;
        height: 64px;
        border: none;
        position: absolute;
        margin-top: 70px;
        margin-left: -100px;
        border-radius: 50%;
    }
    .title_lines1 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines1:before, .title_lines1:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines1:before {
        margin-left: -23%;
        text-align: right;
    }
    .title_lines1:after {
        margin-left: 12%;
        text-align: right;
    }
    .imgs4{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .title_lines2 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines2:before, .title_lines2:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines2:before {
        margin-left: -20%;
        text-align: right;
    }
    .title_lines2:after {
        margin-left: 10%;
        text-align: right;
    }
    .section3{
        background-image: url(images/bg\ 4.jpeg);
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 100px;
        background-position: center;
        filter: brightness(0.9);
    }
    .inpt1{
        height: 48px;
        width: 40%;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        border: 1px solid grey;
    }
    ::placeholder{
        font-size: 12px;
        padding-left: 20px;
        letter-spacing: 3px;
    }
    .btn5{
        width: 20%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius: 3px;
        display: inline;
        margin-left: -5px;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .head9{
        margin-top: 0px;
        margin-bottom: 12px;
        font-size: 17px;
        line-height: 24px;
        font-weight: 600;
    }
    .lists{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        margin: 10px 0px 0px -110px;
        flex-wrap: wrap;
        line-height: 24px;
    }
    .lists1{
        list-style-type: none;
        margin: 8px 0px 8px 32px;
    }
    .anchor{
        text-decoration: none;
        color: white;
    }
    .para7{
        color: grey;
        margin: 10px 0px 0px 5px;
        font-size: 13px;
    }
    .section4{
        background-color: black;
        width: 100%;
        height: 700px;
        margin-top: 50px;
    }
    .head11 ,.head12{
        color: white;
        margin-top: 40px;
    }
    .para8{
        color: white;
    }
    .rows2{
        text-align: left;
    }
    .inpt2{
        height: 48px;
        width: 50%;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        border: 1px solid grey;
    }
    .btn6{
        width: 30%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        border-radius: 3px;
        display: inline;
        margin-left: -5px;
        font-size: 12px;
    }
    .para9{
        color: white;
        font-size: 12px;
        margin-top: 20px;
        text-align: left;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .section1 {
        background-image: url("images/bg\ 1.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 600px;
    }
    .head2{
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 5px;
        line-height: 60px;
        color: white;
        margin: 100px 0px 0px 10px;
    }
    .para1{
        font-size: 17px;
        font-weight: 500;
        color: white;
        margin: 30px 0px 0px 10px;
        line-height: 30px;
    }
    .btn2{
        width: 30%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 5px;
        margin: 300px 0px 0px 300px;
    }
    .head3{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        color: #555555;
        margin-top: 100px;
    }
    .title_lines {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines:before, .title_lines:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines:before {
        margin-left: -25%;
        text-align: right;
    }
    .title_lines:after {
        margin-left: 15%;
        text-align: right;
    }
    .head4{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .para2{
        text-align: center;
        font-size: 17px;
        line-height: 32px;
    }
    .imgs2{
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .imgs3{
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-top: 50px;
        cursor: pointer;
    }
    .head5{
        font-size: 15px;
        font-weight: 500;
    }
    .para3{
        font-size: 15px;
        font-weight: 500;
        color: grey;
    }
    .spant1{
        color: red;
        text-decoration: line-through;
        margin-left: 10px;
    }
    .btn3{
        background-color: black;
        color: white;
        width: 64px;
        height: 64px;
        border: none;
        position: absolute;
        margin-top: 70px;
        margin-left: -100px;
        border-radius: 50%;
    }
    .title_lines1 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines1:before, .title_lines1:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines1:before {
        margin-left: -29%;
        text-align: right;
    }
    .title_lines1:after {
        margin-left: 19%;
        text-align: right;
    }
    .section3{
        background-image: url(images/bg\ 4.jpeg);
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 100px;
        background-position: center;
        filter: brightness(0.9);
    }
    .inpt1{
        height: 48px;
        width: 60%;
        border: none;
        background-color: transparent;
        border: 1px solid grey;
    }
    ::placeholder{
        font-size: 12px;
        padding-left: 20px;
        letter-spacing: 3px;
    }
    .btn5{
        width: 40%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        display: inline;
        margin-left: -5px;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .head10{
        font-size: 20px;
        color: white;
        margin-top: 50px;
    }
    .lists{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        margin: 50px 0px 0px -110px;
        flex-wrap: wrap;
        line-height: 24px;
    }
    .lists1{
        list-style-type: none;     
    }
    .anchor{
        text-decoration: none;
        color: white;
    }
    .para7{
        color: grey;
        margin-top: 50px;
        text-align: end;
    }
    .imgs7{
        margin-left: -0px;
    }
    
}
@media screen and (min-width: 1201px) and (max-width: 1400px){
    .section1 {
        background-image: url("images/bg\ 1.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 600px;
    }
    .head2{
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 14px;
        line-height: 70px;
        color: white;
        margin: 100px 0px 0px 50px;
    }
    .para1{
        font-size: 17px;
        font-weight: 500;
        color: white;
        margin: 30px 0px 0px 50px;
        line-height: 30px;
    }
    .btn2{
        width: 25%;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 5px;
        margin: 350px 0px 0px 400px;
    }
    .head3{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        color: #555555;
        margin-top: 100px;
    }
    .title_lines {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines:before, .title_lines:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines:before {
        margin-left: -26%;
        text-align: right;
    }
    .title_lines:after {
        margin-left: 15%;
        text-align: right;
    }
    .head4{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .para2{
        text-align: center;
        font-size: 17px;
        line-height: 32px;
    }
    .btn3{
        background-color: black;
        color: white;
        width: 64px;
        height: 64px;
        border: none;
        position: absolute;
        margin-top: 70px;
        margin-left: -100px;
        border-radius: 50%;
    }
    .title_lines1 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        color: #3267EA;
        font-family: arial;
    }
    .title_lines1:before, .title_lines1:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 10%;
        height: 1px;
        content: '\a0';
        background-color: #cccccc;
        margin-left: 2%;
        margin-top: 45px;
    }
    .title_lines1:before {
        margin-left: -26%;
        text-align: right;
    }
    .title_lines1:after {
        margin-left: 15%;
        text-align: right;
    }
    .head10{
        font-size: 30px;
        color: white;
        margin-top: 40px;
    }
    .lists{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        margin: 50px 0px 0px -110px;
        flex-wrap: wrap;
        line-height: 24px;
    }
    .lists1{
        list-style-type: none;     
    }
    .anchor{
        text-decoration: none;
        color: white;
    }
    .para7{
        color: grey;
        margin-top: 50px;
        text-align: end;
    }
    .imgs7{
        margin-left: -0px;
    }
}